version: '3.8'

services:
  customer:
    build:
      context: ./maxlibrary/maxlibrary
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - customerDb
    networks:
      - libraryNetwork

  books:
    build:
      context: ./books/books
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - booksDb
    networks:
      - libraryNetwork

  customerDb:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=maxlibrary
      - POSTGRES_USER=USERNAME
      - POSTGRES_PASSWORD=PASSWORD
    volumes:
      - libraryData:/var/lib/postgresql/data
    networks:
      - libraryNetwork

  booksDb:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=books
      - POSTGRES_USER=USERNAME
      - POSTGRES_PASSWORD=PASSWORD
    volumes:
      - booksData:/var/lib/postgresql/data
    networks:
      - libraryNetwork

volumes:
  libraryData:
  booksData:

networks:
  libraryNetwork:
    driver: bridge