spring.application.name=MaxLibrary
spring.datasource.url=jdbc:postgresql://customerDb:5432/maxlibrary
spring.datasource.username=USERNAME
spring.datasource.password=PASSWORD

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

logging.level.config=INFO
jwt.secret.key=SECRET
bookservice.addbook.url=http://books:8081/books/addbook